<div class="col4a">

    <!-- Base-Teaser -->
    <div class="col1 basicTeaser">
        <div class="group">
            <div class="news minHeight">
                <a href="/ru/borrel-raskritikoval-narastajushhie-somnenija-v-sankcijah-protiv-rf/a-62507377">
                    <div class="teaserImg">
                        <img loading="lazy" itemprop="image" src="https://static.dw.com/image/61718538_301.jpg" title="Глава европейской дипломатии Жозеп Боррель" alt="Глава европейской дипломатии Жозеп Боррель" width="220" height="124"> </div>
                    <h2 class="linkable">
                        Боррель раскритиковал сомнения в действии санкций против РФ
                    </h2>
                    <p>Критики санкций должны прекратить распространять ложную информацию и подкреплять аргументы цифрами, заявил Боррель.
                        &nbsp; </p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Base-Teaser -->


    <!-- Base-Teaser -->
    <div class="col1 basicTeaser">
        <div class="group">
            <div class="news minHeight">
                <a href="/ru/jeks-komandujushhij-nato-prognoziruet-zamorozhennyj-konflikt-ukrainy-i-rf/a-62505614">
                    <div class="teaserImg">
                        <img loading="lazy" itemprop="image" src="https://static.dw.com/image/62496047_301.jpg" title="Украинский военнослужащий во время учений близ линии фронта" alt="Украинский военнослужащий во время учений близ линии фронта" width="220" height="124"> </div>
                    <h2 class="linkable">
                        Ставридис прогнозирует "замороженный конфликт" Украины и РФ
                    </h2>
                    <p>Война в Украине может завершиться по корейскому сценарию через 4-6 месяцев, считает экс-командующий силами НАТО. &nbsp; </p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Base-Teaser -->


    <!-- Base-Teaser -->
    <div class="col1 basicTeaser">
        <div class="group">
            <div class="news minHeight">
                <a href="/ru/telekanal-dozhd-gotovitsja-vozobnovit-veshhanie/a-62505901">
                    <div class="teaserImg">
                        <img loading="lazy" itemprop="image" src="https://static.dw.com/image/61021415_301.jpg" title="Студия телеканала Дождь" alt="Студия телеканала Дождь" width="220" height="124"> </div>
                    <h2 class="linkable">
                        Телеканал "Дождь" готовится возобновить вещание
                    </h2>
                    <p>Вечерние прямые эфиры "Дождя" планируется запустить 18 июля, сообщила гендиректор телеканала Наталья Синдеева.
                        &nbsp; </p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Base-Teaser -->


    <!-- Base-Teaser -->
    <div class="col1 basicTeaser">
        <div class="group">
            <div class="news minHeight">
                <a href="/ru/shvedskaja-kompanija-hm-group-uhodit-iz-rossii/a-62506480">
                    <div class="teaserImg">
                        <img loading="lazy" itemprop="image" src="https://static.dw.com/image/61092531_301.jpg" title="Женщины возле витрины магазина H&amp;M в Москве" alt="Женщины возле витрины магазина H&amp;M в Москве" width="220" height="124"> </div>
                    <h2 class="linkable">
                        Шведская компания H&amp;M Group уходит из России
                    </h2>
                    <p>H&amp;M Group заявила о невозможности продолжать бизнес в РФ с учетом текущей ситуации и непредсказуемого будущего.
                        &nbsp; </p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Base-Teaser -->

</div>